.orgrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.orgrow img {
  max-height: 24px;
  max-width: 24px;
  transform-origin: right;
  border-radius: 4px;
}
